In [5]:
count = 1

while count <=5:
    print ("Hello world")
    count += 1
    
print(count)

Hello world
Hello world
Hello world
Hello world
Hello world
6

In [11]:
n = int(input("Enter Number"))
i = 1
while i <= 10:
    print (n * i)
    i += 1

Enter Number 10

10
20
30
40
50
60
70
80
90
100

In [17]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [21]:
n = int(input("Enter Number"))
for i in range(1,11):
    print (n * i)

Enter Number 2

2
4
6
8
10
12
14
16
18
20