# Q #1
##### What is the length of the salaries list.

In [4]:
salaries = ['20k', '40k', '50k', '60k', '35k', '89k','40k']
len(salaries)

7

# Q #2
##### Retrieve the third salary in the list by using index.

In [7]:
salaries[2]

'50k'

# Q #3
##### Extract the last salary from the list by using a negative index.

In [12]:
salaries[-1]

'40k'

# Q #4
##### Slice the salaries list to get only the middle three salaries.

In [15]:
middle_salaries = salaries[2:5]
print(middle_salaries)

['50k', '60k', '35k']

# Q #5
##### Add a new salary to the list, ‘100k’ by using append() method.

In [18]:
salaries = ['20k', '40k', '50k', '60k', '35k', '89k', '40k']
salaries.append('100k')
print(salaries)

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k']

# Q #6
##### Add a new salary to the list, ‘120k’ without method.

In [21]:
salaries += ["120k"]
print(salaries)

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k', '120k']

# Q #7
##### Replace the third salary in the list with '55k' and print the updated list.

In [26]:
salaries[2] = '55k'
print(salaries)

['20k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']

# Q #8
##### Count how many times '40k' appears in the list.

In [29]:
salaries.count("40k")

2

# Q #9
#####  Insert a new salary at the second position.

In [32]:
salaries.insert(1,"45k")
print(salaries)

['20k', '45k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']

# Q #10
#####  Reverse the order of the salaries list with method.

In [35]:
salaries.reverse()
print(salaries)

['120k', '100k', '40k', '89k', '35k', '60k', '55k', '40k', '45k', '20k']

# Q #11
#####  Reverse the order of the salaries list without method.

In [38]:
salaries = salaries [::-1]
print(salaries)

['20k', '45k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']